.carrossel {
    margin: 0 auto;
    width: 560px;
    height: 400px;
    overflow: hidden;
  }
  
  .slides {
    width: 400%;
    height: 400px;
    display: flex;
  }
  
  .slides input {
    display: none;
  }
  
  .slide {
    width: 25%;
    position: relative;
  }
  
  .slide img {
    width: 560px;
  }
  
  .manual-navigation {
    position: absolute;
    width: 560px;
    margin-top: -10rem;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn {
    border: 2px solid #97A4A2;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .manual-btn:not(:last-child) {
    margin-right: 40px;
  }
  
  .manual-btn:hover {
    background-color: #97A4A2;
  }
  
  #radio1:checked ~ .first {
    margin-left: 0;
  }
  
  #radio2:checked ~ .first {
    margin-left: -25%;
  }
  
  #radio3:checked ~ .first {
    margin-left: -50%;
  }
  
  .navigation-auto div {
    border: 2px solid #4B626C;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .navigation-auto {
    position: absolute;
    width: 560px;
    margin-top: 15rem;
    display: flex;
    justify-content: center;
  }
  
  .navigation-auto div:not(:last-child) {
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #97A4A2;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #97A4A2;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #97A4A2;
  }