.container {
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: 5% 30% auto 5%;
    grid-template-rows: 100%;
    width: 1000px;
    height: 400px;
    align-items: center;
    justify-content: center;
}

#c1 {
    padding: 0;
    margin: 0;
    height: 80%;
}

#c1 img {
    width: 100%;
    height: 100%;
    border: 2px solid #97A4A2;
}

#Cesaoo {
    padding: 0;
    margin: 0;
    height: 80%;
}

#c2 {
    height: 50%;
}

#c2 img {
    width: 100%;
    height: 100%;
    border: 2px solid #97A4A2;
}

#c3 {
    height: 50%;
}

#c3 img {
    width: 100%;
    height: 100%;
    border: 2px solid #97A4A2;
}

.inter-Contain {
    position: relative;
}

.inter-Contain .price-box {
    position: absolute;
    margin: 0 auto;
    top: 85%;
    left: 25%;
    background-color: #FCFAFA;
    border-radius: 5px;
    padding: 2px 8px;
    font-size: 0.85rem;
  }

.discount {
    position: absolute;
    margin: 0 auto;
    top: 85%;
    left: 5%;
    background-color: #4B626C;
    color: #FCFAFA;
    border-radius: 5px;
    padding: 2px 8px;
    font-size: 0.85rem;
}

.price-box-main {
    position: absolute;
    margin: 0 auto;
    top: 90%;
    right: 5%;
    background-color: #FCFAFA;
    border-radius: 5px;
    padding: 2px 8px;
    font-size: 0.85rem;
}

.discount-main {
    position: absolute;
    margin: 0 auto;
    top: 90%;
    right: 20%;
    background-color: #4B626C;
    color: #FCFAFA;
    border-radius: 5px;
    padding: 2px 8px;
    font-size: 0.85rem;
}

.seta-completa {
    margin: 0 auto;
    padding: 0;
}

.seta {
    font-size: 40px;
    height: 37.5px;
    color: #97A4A2;
}