*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

body {
  display: flex;
  min-height: 60vh;
  background-color: #FBF8F4;
  background-image: url("./img/background.png");
  background-repeat: no-repeat;
  background-size: 1020px;
  background-position-y: -120px;
  background-position-x: 500px;
}

.Registro {
  width: 420px;
  padding: 20px;
  margin-left: 7.0rem;
}

h1 {
  margin-bottom: 50px;
  font-size: 3.5rem;
  color: #537280;
  text-align: center;
}

.register-box {
  position: relative;
}

.register-box input {
  width: 100%;
  padding: 8px 0;
  outline: none;
  border: 0;
  border-radius: 5px;
  background: #EFEFEF;
  border-bottom: 1px solid #EFEFEF;
  color: #4B626C;
  font-size: 1.2rem;
  margin-bottom: 50px;
  margin-top: 50px;
  box-shadow: 0px 4px 20px 0px #00000040;
}

.register-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 56px 12px;
  color: #97A4A2;
  font-size: 1.5rem;
  pointer-events: none;
  transition: .5s;
}

.register-box input:focus~label,
.register-box input:valid~label
{
  top: -25px;
  left: 0;
  color: #537280;
  font-size: 1rem;
  font-weight: bold;
}

.seta {
  font-size: 2.5rem;
  float: right;
  text-decoration: none;
  color:#4B626C;
}

.conta {
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  display: inline-block;
  margin-top: 310px;
  color: #97A4A2;
}

.fazerLogin {
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  display: inline-block;
  margin-top: 5px;
  color: #97A4A2;
}


@media (max-width: 1024px) {
  body {
    background-size: 830px;
    background-position-y: -95px;
    background-position-x: 250px;
  }
  h1 {
    margin-bottom: 30px;
    font-size: 2.5rem;
  }
  .Registro {
    width: 280px;
    margin-left: 1.9rem;
  }
  .register-box input {
    padding: 6px 0;
    font-size: 0.7rem;
    margin-bottom: 45px;
  }
  .register-box label {
    padding: 0.3rem 1rem;
    font-size: 1rem;
  }
  .register-box input:focus~label,
  .register-box input:valid~label {
    font-size: 1rem;
    top: -25px;
    left: -7px;
  }
  .seta {
    font-size: 2.3rem;
  }
  .login {
    font-size: 1.0rem;
    margin-top: 90px;
  }
}

@media (max-width: 712px) {
  body {
    align-items: center;
    justify-content: center;
    background-image: url('./img/token.png');
    background-size: fill;
    background-position: center;
    background-position-y: 6px;
  }
  h1 {
    margin-bottom: 30px;
    font-size: 3.5rem;
  }
  .Registro {
    width: 30rem;
    justify-content: center;
    margin: 0px;
  }
  .register-box input {
    padding: 10px 0;
    font-size: 1.2rem;
    margin-bottom: 50px;
  }
  .register-box label {
    padding: 0.4rem 1rem;
    font-size: 1.5rem;
    transition: .0s;
  }
  .register-box input:focus~label,
  .register-box input:valid~label {
    font-size: 0;
    top: 0;
    left: 0;
  }
  .seta {
    font-size: 60px;
    display: flex;
    font-weight: bold;
  }
  .login {
    font-size: 1.6rem;
    margin-top: 90px;
    color: #4B626C;
    background-color: #FBF8F4;
    border-radius: 10px;
  }
}