.backAccount {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-left: 7rem;
  height: 100vh;
}

.createAccount {
  font-size: 1.1rem;
  font-weight: bold;
  position: absolute;
  text-decoration: none;
  bottom: 5rem;
  color: #97a4a2;
}

.loginPass {
  font-size: 1.1rem;
  font-weight: bold;
  position: absolute;
  text-decoration: none;
  bottom: 3rem;
  color: #97a4a2;
}

.ibage {
  display: flex;
  justify-content: center;
  width: 220%;
  background: url("../../assets/img/background.png");
  background-position-y: -125px;
  background-repeat: no-repeat;
}