.loginPrincipal {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-left: 7rem;
  height: 100vh;
}

.login-box {
  display: flex;
  flex-direction: column;
  position: relative;
}

.createAccount {
  font-size: 1.1rem;
  font-weight: bold;
  position: absolute;
  text-decoration: none;
  bottom: 5rem;
  color: #97a4a2;
}

.forgotenPass {
  font-size: 1.1rem;
  font-weight: bold;
  position: absolute;
  text-decoration: none;
  bottom: 3rem;
  color: #97a4a2;
}