.navbar {
  background-color: #fbf6f0;
  display: flex;
  max-height: 100px;
  align-items: center;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.nav-links {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;
  align-items: center;
  padding: 0 3rem;
  justify-content: space-between;
}

.nav-links h2 {
  color: #4b626c;
  font-size: 32px;
  font-family: Montserrat;
  font-weight: 300;
  height: 39px;
  text-align: center;
  transition: all 0.5s;
}

.nav-links li {
  padding: 0px 1.5rem;
  border-right: solid #4b626c;
  cursor: pointer;
}

.nav-links h2:hover {
  text-decoration: underline;
}

#especialLine {
  border-right: 0px;
}

.barraProcura {
  height: 100px;
  align-items: center;
  display: flex;
  padding: 0px 30px;
}

.barraProcura input {
  background-color: #97a4a273;
  border: none;
  height: 40px;
  width: 100%;
  border-radius: 15px;
  padding-inline: 30px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.search {
  position: absolute;
  padding: 0.5%;
  cursor: pointer;
}
